{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    We have variety of collectionss..
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
    <div>
        <p class="text-center my_search_text">You have searched for<b> {{query}}</b></p>
    </div>
    <div class="row mx-auto">
            {% for product  in products %}
            <div class="my_bottom_margin col-9 col-sm-3 col lg 4">
                <div class="card" style="width:18rem; height:30rem;">
                    <div class="card-body">
                    <a href="{{product.get_url}}"> <img class="card-img-top my_image my_image_padding" src="{{product.image.url}}" alt="{{product.name}}"></a>

                        <h4 class="card-title">{{product.name}}</h4>
                        <p>${{product.price}}</p>
                    </div>
                </div>

            </div>
        {% empty %}
            <div class="mx-auto">
                <div class="text-center my_search_text">
                    <p>0 Results found</p>
                </div>
            </div>
                {% endfor %}
        </div>

{% endblock %}